<div id="main" class="content" role="main">
  <div class="container">
    <% @posts.each do |post| %>
      <article class="post tag-design tag-ghost post row">
          <h2 class="post-title text-center super lighter">
            <%= link_to post.title, post_path(post) %>
          </h2>
          <div class="post-info text-center bordered-top col-md-2">
            <time datetime="<%= post.created_at.strftime('%b %d, %Y') %>" class="post-time">
              <%= post.created_at.strftime('%b %d, %Y') %>
            </time>
            on <span class="post-tags">tags, tags, tags</span>
          </div>
          <div class="post-body bordered-bottom col-md-8">
            <%= truncate(raw(post.body), length: 458, omission: '...', separator: ' ', escape: false) %>
            <p><%= link_to "read more...", post_path(post) %></p>
          </div>
      </article>
    <% end %>
  </div>
</div>
